* {
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
}

html {
    background: #181409;
}

h1 {
    font-size: 28px;
    text-transform: uppercase;
}

h2 {
    font-size: 18px;
    text-transform: uppercase;
}

h3 {
    font-size: 16;
    text-transform: uppercase;
}

button {
    border: #a46553 solid;
    border-radius: 5%;
    border-width: .75px;
    padding: .5rem 1.5rem;
    text-transform: capitalize;
    font-size: 18px;
    background: #181409;
}

button:hover {
    background: #a46553;
    color: #eee;
}

header {
    display: flex;
    padding-bottom: 5.5rem;
    background: #181409;

}

header .logo {
    padding-top: 24px;
    position: absolute;
    left: 4.5rem;
}

header .title span {
    position: absolute;
    left: 10%;
    padding-top: 40px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

header .navbar {
    position: absolute;
    right: 30%;
    padding-top: 34px;

}

header .navbar2 {
    position: absolute;
    right: 5%;
    padding-top: 34px;
}

header .logo img {
    width: 50px;
}

header .navbar a,
header .navbar2 a {
    border: #a46553 solid;
    border-radius: 5%;
    border-width: .75px;
    padding: .5rem 1.5rem;
    text-decoration: none;

}

header .navbar a:hover,
header .navbar2 a:hover {
    background: #a46553;
    color: #eee;
}


.home {
    display: flex;
    flex: 1 1 45rem;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    padding-top: 3rem;
    background: #181409;
}


.home img {
    width: 500px;
    height: 500px;
}

.home .content {
    width: 680px;
}

.home .content h1,
.home .content p,
.home .content .btn {
    padding-left: 7.5rem;
}

.home .content h1 {
    font-size: 72px;
}

.home .content p {
    font-size: 25px;
    width: 40%;
    text-transform: uppercase;
}

.line {
    display: flex;
    justify-content: center;
    background: #181409;
}

.line img {
    width: 120px;
    align-self: center;
}

.service {
    background: #181409;
}

.service .section1 {
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

}

.service h1 {
    text-align: center;
    background: #181409;
}

.service .section1 .sectioncontent {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.service .section1 .sectioncontent {
    background: #201b0dfb;
}

.service .section1 .sectioncontent .container {
    border: #a46553 solid;
    border: 5%;
    border-width: .75px;
    padding: .2rem;
}

.service .section1 .sectioncontent .container .content h3 {
    text-align: center;
}

.service .section1 .sectioncontent .container .content button {
    display: flex;
    margin-left: 35%;

}

.service .section1 .sectioncontent .container .image img {
    width: 200px;
    height: 200px;
}

.about {
    background: #181409;
}

.about .container {
    display: flex;
}

.about .container .image {
    width: 600px;
    margin-left: 3.5rem;
}

.about .container .image img {
    width: 400px;
    margin-left: 4.5rem;
}

.about .container .content {
    width: 30%;
    height: 30%;
    margin-right: 8.5rem;
    margin-top: 7rem;
    border: #a46553 solid;
    padding: 1.5rem;
    border-width: .25px;
    box-shadow: #eee;
    text-align: center;
}

.about .container .content p {
    text-align: justify;
}




.faqs {
    background: #181409;
}



.faqs .container {
    justify-content: center;
    width: 800px;
    align-items: center;
    margin-left: 30%;
    margin-bottom: 3rem;

}

.faqs h1 {
    text-align: center;
}

.faqs .container .faq1,
.faqs .container .faq2 {
    display: flex;
}

.faqs .container .faq1 a {
    border: #a46553 solid;
    padding-top: .5rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
    margin-bottom: .5rem;
    text-decoration: none;
    width: 450px;
    border-width: .5px;
    background: #14130d;

}

.faqs .container .faq1 button {
    background: #a46553;
    color: white;
    margin-left: -.3rem;
}

.faqs .container .faq2 a {
    border: #a46553 solid;
    padding-top: .5rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
    margin-bottom: 1.5rem;
    text-decoration: none;
    width: 450px;
    border-width: .5px;
    background: #14130d;
}

.faqs .container .faq3 a {
    border: #a46553 solid;
    padding-top: .5rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
    margin-bottom: .5rem;
    margin-top: 1.5rem;
    text-decoration: none;
    width: 450px;
    border-width: .5px;
    background: #14130d;
}

.faqs .container .faq4 a {
    border: #a46553 solid;
    padding-top: .5rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
    margin-bottom: 1.5rem;
    text-decoration: none;
    width: 450px;
    border-width: .5px;
    background: #14130d;
}

.faqs .container .faq2 button {
    background: #a46553;
    color: white;
    margin-left: -.3rem;
    height: 2.3rem;
}

.faqs .container .faq3 button {
    background: #a46553;
    color: white;
    margin-left: -.3rem;
    height: 2.3rem;
    margin-top: 1.5rem;
}

.faqs .container .faq4 button {
    background: #a46553;
    color: white;
    margin-left: -.3rem;
    height: 2.3rem;
}

.faqs .container .faq {
    border: #a46553 solid;
    width: 510px;
    padding-top: .2rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
    padding-left: .5rem;
    border-width: .5px;
    background: #14130d;

}

.faqs .container .faq a {
    text-decoration: none;
}

.faqs .container .faq #onthe {
    margin-left: 11rem;
    border-bottom: none;
    font-size: 50px;
    text-decoration: none;
}

.faqs .container .faq1 a:hover,
.faqs .container .faq2 a:hover,
.faqs .container .faq a:hover,
.faqs .container .faq3 a:hover,
.faqs .container .faq4 a:hover {
    color: #a46553;
}

.faqs .container .faq3,
.faqs .container .faq4 {
    display: flex;
    flex-wrap: wrap;
}

.faqs .container .faq1 p {
    border: #a46553 solid;
    border-width: .5px;

}

.faqs .container .faq1 button {
    height: 40px;
}



.contact {
    text-align: center;
    padding: 2.5rem;
    background: #272111;
}



.contact .cont {
    display: flex;
    padding: 1rem;
}




.contact .cont .left {
    text-align: left;
    width: 30%;
    margin-right: 5%;
    margin-left: 5%;
}


.contact .cont .center {
    width: 300px;
    margin-top: .5rem;
    font-size: 18px;

}

.contact .cont .center form input {
    font-size: 18px;
    background: none;
    border-bottom: #a46553 solid;
    border-right: none;
    padding: 1.3rem 2rem;
    width: 300px;
    border-left: none;
    border-top: none;
}

.contact .cont .center form .btn {
    width: 100px;
    border: #a46553 solid;
    text-align: center;
    font-size: 14px;
    padding: .5rem 1.5rem;
    margin-top: 1rem;
    border-radius: 5%;
    border-width: .5px;
}

.contact .cont .center form .btn:hover {
    background: #a46553;
    color: white;
}

.contact .cont .left .email,
.contact .cont .left .phone,
.contact .cont .left .address {
    width: 50%;
}


.contact .cont .right {
    margin-left: 16rem;
    margin-top: 5rem;
}

.contact .cont .right img {
    width: 30px;
}

.contact .cont .right img:hover {
    border: #a46553 solid;
    padding: .5rem;
    border-radius: 100%;
    border-width: .3px;
}




.distributors {
    text-align: center;
}


.distributors .end {
    display: flex;
    flex-wrap: wrap;
    margin-left: 25%;
    gap: 1.5rem;
    position: relative;
}


.distributors .end .imagecont {
    width: 150px;
    height: 250%;
    border: #a46553 solid;
    border-radius: 5%;
    border-width: .75px;
    background: #272111;
    position: relative;
    text-align: center;
}


.distributors .end .imagecont img {
    width: 120px;
    padding: .5rem;
    background: none;

}




.widget .first img {
    width: 50px;
    margin-top: 2rem;
    margin-left: 5rem;

}


.widget .container {
    display: flex;
    padding: 2.5rem;
    border: #35231e solid;
    gap: 5.5rem;
    margin-top: 2.5rem;
    border-left: none;
    border-right: none;
}

.widget .container .next1 h3,
.widget .container .next2 h3,
.widget .container .next3 h3 {
    font-size: 16px;
    text-transform: lowercase;
}

.widget .container .next1 h3:hover,
.widget .container .next2 h3:hover,
.widget .container .next3 h3:hover {
    color: #a46553;
}

.widget .container .next3 {
    width: 400px;
}

.widget .container .next3 .now #search {
    width: 300px;
    padding: .5rem;
    margin-right: 1rem;
    background: #a46553;
    color: #eee;
    border: none;
}

.widget .container .next3 .now {
    display: flex;
}

.widget .container .next3 .now button {
    padding: .5rem 1.5rem;
    font-size: 10;
}

footer {
    font-size: 16px;
    text-align: center;
    padding: 2.5rem;
}